.env
.env.yaml

.DS_Store
__MACOSX
.pytest_cache
__pycache__
*checkpoint.ipynb
*.ipynb_checkpoints
notebooks/
taxifare.egg-info/

.idea
*.gz
*PKG-INFO
*.egg-info
*.csv
*.zip
mlruns
*.sqlite
*.vscode

id_rsa
id_rsa.pub

tests/

Makefile_local
